html {
  background-color: #c9c9c9;
}
.sections {
  font-family: 'Poppins', sans-serif;
}
.container {
  font-family: 'Poppins', sans-serif;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: white;
  color: #AA3939;
  cursor: pointer;
  padding: 17px;
  border-radius: 50%;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
transition: 0.2s;
  transition-timing-function: ease;

}
#skillscard1{
Padding-bottom: 40px;
}
#skillscard2 {
Padding-bottom: 40px;
}
.skills {
Margin: 5px;
}
#myBtn:hover {
  background-color: #AA3939;
  color: white;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
  transition-timing-function: ease;
}
.navbar {
/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
background-color: #AA3939 !important;
}
#myNav {
  margin-left: 50px;
}
.nav-link {
  transition: 0.3s;
  transition-timing-function: ease;
  border-bottom: 2px solid #AA3939;
}
.nav-link:hover {
  transition: 0.3s;
  transition-timing-function: ease;
  border-bottom: 2px solid white;
}
.active.nav-link {
	border-bottom: 2px solid white;
}
.testimg {
  background-color: #AA3939;
  min-height: 600px;
  margin-top: -25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.shadow-header {
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}
.testimg h1 {
  color: white;
/*  margin-left: 20px;
  margin-right: 20px; */
}
.btn#learnbutt {
  font-size: 14px;
  background-color: transparent;
  border-radius: 1px;
  border-color: white;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 300;
}
#headtxt {
  color: white;
}
.btn#learnbutt:hover {
  background-color: white;
  border-radius: 3px;
  border-color: #AA3939;
  color: #AA3939;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#ResDown {
  float: right;
}
.btn#ResDown {
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background: transparent;
  color: #33CCFF;
  border-color: #33CCFF;
}
.btn#ResDown:hover {
  background-color: #33CCFF;
  color:white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 7px 15px 0 rgba(0, 0, 0, 0.19);
}
.abtsection {
  min-height: 500px;
  padding-bottom: 20px;
  margin-top: 20px;
  background-color: white;
  color: #aa3939;
}
.projectsection {
  color: #aa3939;
  min-height: 430px;
  padding-top: 20px;
  margin-bottom: 40px;
  box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2)
}
.skillssection {
  min-height: 500px;
  color: white;
  background-color: #AA3939;
  box-shadow: 0 -4px 8px 0px rgba(0,0,0,0.2);
  position: relative;
}
#profimg {
  margin-top: 30px;
  padding-bottom: 20px;
  padding-right: 10px;
  border-radius: 50%;
}
.skillscols {
  padding-bottom: 35px;
}

#abttext {
  float: inherit;
  padding-left: 20px;
  padding-right: 20px;
}
#abtemail {
text-decoration: none;
  color: #aa3939;
  transition: 0.1s;
  transition-timing-function: ease-in-out;
}
#abtemail:hover{
color: black;
  border-bottom: 2px solid #aa3939;
  transition: 0.1s;
  transition-timing-function: ease-in-out;

}
#abtlink {
  text-decoration: none;
  color: #aa3939;
  transition: 0.1s;
  transition-timing-function: ease-in-out;

}
#abtlink:hover {
  color: black;
  border-bottom: 2px solid #aa3939;
  transition: 0.1s;
  transition-timing-function: ease-in-out;
}
#projref {
padding-bottom: 70px;
}
.projtext {
   padding-left: 20px;
   padding-right: 20px;
}
.softskills {
  margin-left: 35px;
}
.chipp {
  display: inline-block;
  border: 1px solid white;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 3px;
  margin-top: 7px;
  transition: 0.1s;
  transition-timing-function: ease-in;
}
.chipp:hover {
  cursor: pointer;
  background-color: white;
  color: #aa3939;
  transition: 0.1s;
  transition-timing-function: ease-in;
}
#webskills {
  padding-left: 33px;
}
#mobileos {
  margin-right: 15px;
}
.btn {
background-color: gray;
border-radius: 2px;
border-color: gray;
}
.btn:hover {
background-color: white;
border-radius: 2px;
border-color: gray;
color: gray;
}
h3 {
  text-align: center;
}
#aboutm {
  color: #707070;
  font-size: 40px;
  font-weight: 700;
}
.social {
  text-align: center;
}
#copyright {
  text-align: center;
}
.menubar {
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 4px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 4px);
    transform: rotate(-45deg) translate(-7px, 4px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}
.navbar-toggler {
  padding: 0px !important;
  transition: 0.2s;
  transition-timing-function: ease;
  border: 0px solid white;
  margin-left: 50px;
  margin-top: 5px;
}
.fa {
   font-size: 40px;
   padding-top: 18px;
   width: 50px;
   height: 50px;
   text-align: center;
   text-decoration: none;
   transition: 0.3s;
   transition-timing-function: ease;
   border-radius: 50%;
   border-color: white;
   border-style: solid;
   border-width: 0.5px;
   margin: 5px 5px;
   color: white;
}
.fa:hover {
   text-decoration: none;
   transition: 0.4s;
   transition-timing-function: ease;
   box-shadow: 0 8px 13px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
   border-radius: 50%;

}
.fa-linkedin:hover {
  background: white;
  Color: #007bb5;
  border-color: white;
  border-style: solid;
  border-width: 0.5px;
}
.fa-envelope:hover {
background: white;
color:#808080;
border-color: white;
border-style: solid;
border-width: 0.5px;
}
.fa-address-card {
  margin-right: 4px;
  font-size: 17px;
}
.motto {
  font-family: 'Poppins', sans-serif;
}
.skillhead {
 font-size: 22px;
 text-align: center;
 border-bottom: 3px solid white;
 padding-bottom: 6px;
}
.subskills {
font-size: 19px;
}
#proj1 {
/*  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 7px 15px 0 rgba(0, 0, 0, 0.19); */
transition: 0.3s;
  transition-timing-function: ease;
  margin: 2px;
padding-bottom: 30px;
}
#proj1:hover {
color: white;
background-color: #AA3939;
border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 7px 15px 0 rgba(0, 0, 0, 0.19);
transition: 0.3s;
  transition-timing-function: ease;
cursor: pointer;

}
#scanapp {
  Text-decoration: none;
color: #aa3939;

}
#scanapp:hover {
Color:white;
}
#statsapp {
  Text-decoration: none;
  color: #aa3939;
}
#statsapp:hover {
 Color:white;
}

#proj2 {
/*  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 7px 15px 0 rgba(0, 0, 0, 0.19); */
transition: 0.3s;
  transition-timing-function: ease;
  margin: 2px;
  padding-bottom: 40px;
}
#proj2:hover {
color: white;
background-color: #AA3939;
border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 7px 15px 0 rgba(0, 0, 0, 0.19);
transition: 0.3s;
  transition-timing-function: ease;
cursor: pointer;

}

#projcard3 {
/*  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 7px 15px 0 rgba(0, 0, 0, 0.19); */
transition: 0.3s;
  transition-timing-function: ease;
  margin: 5px;
  padding: 10px;

}
#projcard3:hover {
color: white;
background-color: #AA3939;
border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 7px 15px 0 rgba(0, 0, 0, 0.19);
transition: 0.3s;
  transition-timing-function: ease;
cursor: pointer;

}

.btn#gitbut {
  background-color: #aa3939;
  color: white;
  border-color: #aa3939;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
text-align: center;
  text-decoration: none;
  display: inline-block;
}
.btn#gitbut:hover {
  Border-color: white;
  background-color: white;
  color: #aa3939;
}
.footersection {
  padding-bottom: 60px;
  padding-top: 60px;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #AA3939;
  box-shadow: 0 -4px 8px 0px rgba(0,0,0,0.2);
}
